/* Footer */
.footer .md-primary {
    padding: 0;
    margin: 0;
}
.footer li {
    display: inline;
    padding: 10px;
}
.footer ul { padding: 0; }
.footer a {
    text-decoration: none;
    color: black;
}
.focused { color: #2196F3; }
