<md-dialog aria-label="register dialog" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Register</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="ctrl.creds.email" type="email">
                </md-input-container>
                <br>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="ctrl.creds.password1" type="password">
                </md-input-container>
                <md-input-container>
                    <label>Re-enter Password</label>
                    <input ng-model="ctrl.creds.password2" type="password">
                </md-input-container>
                <br>
                <md-input-container>
                    <label>First Name</label>
                    <input ng-model="ctrl.creds.firstName">
                </md-input-container>
                <md-input-container>
                    <label>Last Name</label>
                    <input ng-model="ctrl.creds.lastName">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="ctrl.register('creds here')" style="margin-right:20px;">
                Register
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>