/* Variables */
$primary-color: #3F51B5;
$accent-color: #2196F3;
$warn-color: #F44336;
$primary-font: 'Roboto Condensed', sans-serif;
$text-color: #757575;

body {
    font-family: $primary-font;
}

md-content {
    color: $text-color;
}

.focused { color: $accent-color; }

.form-error {
    color: $warn-color;
    font-size: 16px;
}
.input-error {
    color: $warn-color;
    font-size: 12px;
}

.angular-with-nl {
    white-space: pre-wrap;
}

/* Animations */
.animate-hide {
    transition: all linear 0.5s;
    opacity: 1;
    padding: 10px;
}
.animate-hide.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

/* Footer */
.footer {
    .md-primary {
        padding: 0;
        margin: 0;
    }
    #btnSjjapps {
        padding-left: 15px;
        padding-right: 15px;
    }
}
