<div layout="column">
    <div layout="row" layout-align="center center">
        <md-card flex-gt-sm="70" flex="100">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Availability</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <my-select-availability></my-select-availability>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" layout-align="center center">
        <md-card flex-gt-sm="70" flex="100">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Stats</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <ul>
                    <li>
                        2 Jobs in Progress
                    </li>
                    <br>
                    <li>
                        3 Jobs Waiting Approval
                    </li>
                    <br>
                    <li>
                        10 Completed Jobs
                    </li>
                </ul>
            </md-card-content>
        </md-card>
    </div>
</div>