<div layout="column">
    <md-button class="md-fab md-fab-bottom-right md-primary" aria-label="Add" ng-click="skills.addSkillsClicked()">
        <i style="padding-top: 15px;" class="material-icons">add</i>
    </md-button>

    <div layout="row" layout-align="center center">
        <md-card flex-gt-sm="70" flex="100">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Add or Remove Skills</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <my-user-skills item-text="Remove"></my-user-skills>
            </md-card-content>
        </md-card>
    </div>
</div>