<md-dialog aria-label="login dialog" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Skills</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <my-select-skills></my-select-skills>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="ctrl.previous()">
            Previous
        </md-button>
        <span flex></span>
        <md-button ng-click="ctrl.next()" style="margin-right:20px;">
            Next
        </md-button>
    </md-dialog-actions>
</md-dialog>