<style>
    md-tabs-wrapper { display: none; }
    md-dialog-content { max-width: 800px; }
    p { font-size: 1.2em; }

    #step {
        font-weight: bold;
        font-size: 1.5em;
    }
</style>

<md-dialog aria-label="login dialog" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Welcome to {{ ctrl.data.appName }}!</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div layout="column" layout-align="center center">
                <span id="step">Step {{ ctrl.data.currentIndex + 1 }} of {{ ctrl.data.maxIndex + 1 }}</span>
                <md-tabs md-dynamic-height md-border-bottom md-selected="ctrl.data.currentIndex">
                    <md-tab label="one">
                        <md-content class="md-padding">
                            <h2 class="md-display-2">What is {{ ctrl.data.appName }}?</h2>
                            <p>{{ ctrl.data.appName }} is a platform where you can put your own skills to use, build your
                                experience and resume, and get work done in return.
                            </p>
                            <ul>
                                <li>Credits are used as a currency.</li>
                                <li>When you complete a job, you are awarded a predetermined number of credits.</li>
                                <li>When you request a job, you offer some of your own credits.</li>
                            </ul>
                        </md-content>
                    </md-tab>
                    <md-tab label="two">
                        <md-content class="md-padding">
                            <h2 class="md-display-2">Add your skills</h2>
                            <p>Begin by adding your own skills. Others can request jobs based on the skills you choose
                                here. Skills can be added or removed anytime.
                            </p>
                            <my-select-skills selected-skills="ctrl.data.selectedSkills"></my-select-skills>
                        </md-content>
                    </md-tab>
                    <md-tab label="three">
                        <md-content class="md-padding">
                            <h2 class="md-display-2">Earn free credits</h2>
                            <p>Share {{ ctrl.data.appName }} with your friends via Facebook and/or Twitter to earn up to
                                4 free credits. You can always do this later in the "Promotions" tab.
                            </p>
                        </md-content>
                    </md-tab>
                </md-tabs>

            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="ctrl.previous()">
            Previous Step
        </md-button>
        <span flex></span>
        <md-button ng-click="ctrl.next()" style="margin-right:20px;">
            Next Step
        </md-button>
    </md-dialog-actions>
</md-dialog>