<md-dialog aria-label="login dialog" ng-cloak>
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Log In</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="ctrl.data.creds.email" ng-required="true" type="email">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="ctrl.data.creds.password" ng-required="true" type="password">
                </md-input-container>
                <br>
                <div layout="column" layout-align="center center">
                    <md-progress-circular ng-show="ctrl.showProgress" md-mode="indeterminate"></md-progress-circular>
                    <span ng-show="!ctrl.showProgress" class="form-error angular-with-nl">{{ ctrl.data.error }}</span>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="ctrl.forgot()">
                Forgot Password
            </md-button>
            <span flex></span>
            <md-button ng-click="ctrl.login()" ng-disabled="form.$invalid" style="margin-right:20px;">
                Log In
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>