<md-dialog aria-label="register dialog" ng-cloak>
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Register</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="ctrl.data.creds.email" ng-required="true" type="email">
                </md-input-container>
                <br>
                <md-input-container>
                    <label>Password</label>
                    <input name="password" type="password" ng-model="ctrl.data.creds.password" ng-required="true" ng-minlength="5">
                    <div ng-messages>
                        <span class="input-error" ng-show="form.password.$dirty && form.password.$invalid">Must be at least 5 characters.</span>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Re-enter Password</label>
                    <input name="password2" type="password" ng-model="ctrl.data.creds.password2" equals="{{ ctrl.data.creds.password }}" ng-required="true">
                    <div ng-messages>
                        <span class="input-error" ng-show="form.password.$dirty && form.password2.$invalid">Passwords do not match.</span>
                    </div>
                </md-input-container>
                <br>
                <md-input-container>
                    <label>First Name</label>
                    <input ng-model="ctrl.data.creds.firstName" ng-required="true">
                </md-input-container>
                <md-input-container>
                    <label>Last Name</label>
                    <input ng-model="ctrl.data.creds.lastName" ng-required="true">
                </md-input-container>
                <br>
                <div layout="column" layout-align="center center">
                    <md-progress-circular ng-show="ctrl.showProgress" md-mode="indeterminate"></md-progress-circular>
                    <span ng-show="!ctrl.showProgress" class="form-error angular-with-nl">{{ ctrl.data.error }}</span>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button style="margin-right:20px;" ng-click="ctrl.register()" ng-disabled="form.$invalid">
                Register
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>